@use '../../styles/vars';

.header__container {
  background: vars.$color2;
  box-shadow: inset 0 -10px 7px -10px #FFF;
  padding: 2* vars.$gutter 0;
}

.header {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn {
    color: white;
    padding: vars.$gutter 2*vars.$gutter;
    background: vars.$color3;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    -webkit-box-shadow: inset 1px 1px 5px #fff;
    box-shadow: inset 1px 1px 5px #fff;
    font-size: 1.3em;
  }
  &__title {
    font-size: 3em;
    font-weight: bold;
  }
}